<div>
  <ul class="messages">
    <li #message *ngFor="let message of messages">
      <span [style.color]="message.senderId === 'system' ? 'gray' : getUserIdColor(message.senderId)">
        {{ message.userName ? message.userName : message.senderId }}
      </span>: {{ message.content.text }}
    </li>
  </ul>

  <!-- Form for sending a message -->
  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <input formControlName="newMessage" placeholder="Type your message" />
    <button type="submit">Send Message</button>
  </form>
</div>